 Header set Access-Control-Allow-Origin *
<Limit GET POST PUT OPTIONS DELETE PATCH HEAD>
    Require all granted
</Limit>
<LimitExcept GET POST PUT OPTIONS DELETE PATCH HEAD>
    Require all denied
</LimitExcept>
RewriteEngine On # Turn on the rewriting engine
RewriteRule ^categories/?$ categories.php [NC,L]
RewriteRule ^categories/([0-9]+)/?$ categories.php?id=$1 [NC,L]
RewriteRule ^products/?$ product-api.php [NC,L]
RewriteRule ^products/([0-9]+)/?$ product-api.php?id=$1 [NC,L]